<html>
        <% if(status){ %>
            <form action="admin" method="POST">
                    Email : <input type="text" name='email'/><br>
                    Password :<input type="password" name='password'/><br>
                    <button >Login</button>

                </form>
        <%}else{%>
            <form action="admin" method="POST">
                    Email : <input type="text" name='email'/><br>
                    Password :<input type="password" name='password'/><br>
                    <button >Login</button>
                    <h3>Wrong password</h3>
                </form>
        <%}%>
  </html>